:root {
    --screen-x: 1.5;
}

body {
    transform-origin: top;
    background-color: black;
    overflow: hidden;
}

#front{
    position: absolute;
    left: 10px;
    top:  10px;
}

#background{
    position: absolute;
    left: 10px;
    top:  10px;
}