.box {
    border: 0px black dotted;
    opacity: 35%;
}
.box2{
    border: 1px white dotted;
    box-sizing: border-box;
}

.change {
    border: solid 2px yellow;
}

*
{
    padding:0;
    margin:0;
    background-color: black;
}
.zaznaczenie
{
    background-color: white;
    opacity: 70%;
    position:absolute;
    z-index: 1;
}
#chb
{
    left:90vw;
    top:50px;
    position:absolute;
}
#lab
{
    left:91vw;
    top:50px;
    position:absolute; 
    color:white; 
}
#menu
{
    position:absolute;
    width:200px;
    height:240px;
    background-color: white;
}
.opc
{
    position: absolute;
    height:30px;
    width:200px;
    border:1px solid gray;
    background-color: white;
}

@font-face {
    font-family: 'Pixel';
    src: url(../fonts/Pixel.ttf);
}

:root {
    --title-orange:#e8a21f;
    --border-color: #3146b0;
    --button-color: #566169;
    --title-border-color: rgb(208, 70, 55);
    --text-color2: rgb(230, 230, 63);
    --text-color1: rgb(30, 30, 4);
    --background-dark: rgb(2, 10, 19);
}

.main-menu-button{
    border-radius: 20px;
    font-family: 'Pixel';
    font-size: 1.5vw;
    user-select:none;
    background-color: var(--button-color);
    color: var(--text-color2);
    width: 400px;
    position: absolute;
    top: 30px;
    left: 40px;
}

a:link {
    text-decoration: none;
    
}
a{
    width: 100%;
}