{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <title>ProjectScheme</title>
    <link rel="stylesheet" href="{% static 'core/main_page/main-menu.css' %}">
    <meta charset="UTF-8">
</head>

<body>
    <noscript>Your browser does not support JavaScript!</noscript>
    <script type="text/javascript" src="{% static 'core/main_page/main-menu.js' %}"></script>
    <div class="wrapper">
        <div class="cell-top">
            <img class="profile-picture" src="{% static 'core/main_page/graphics/Pacman.png' %}" alt="Pacman Icon">
            <button class="login-button">Log In</button>
        </div>
        <div class="cell-left">
            <div class="sprite-picture" alt="Pacman Icon" id="ghostStrong"></div>
            <div class="sprite-picture" alt="Pacman Icon" id="pacmanWeak"></div>
        </div>
        <div class="cell-right">
            <div class="sprite-picture" alt="Pacman Icon" id="ghostWeak"></div>
            <div class="sprite-picture" alt="Pacman Icon" id="pacmanStrong"></div>
        </div>
        <div class="cell-bottom"></div>
        <div class="cell-title">
            <div class="title-text2">Pac-man</div>
            <div class="title-text3">Pac-man</div>
        </div>

        <div class="cell-list">
            <ul>
                <li><a href = "{% url 'core:game' %}" class="main-menu-button">Quick Game</a></li>
                <li><button class="main-menu-button">Search Market</button></li>
                <li><a href = "{% url 'core:generator' %}" class="main-menu-button">Map Maker</a></li>
                <li><button class="main-menu-button">Library</button></li>
                <li><button class="main-menu-button">Statistics</button></li>
            </ul>
        </div>
    </div>
</body>

</html>