{% load static %}
<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="{% static 'core/main_page/main-menu.css' %}">
    <meta charset="UTF-8">
</head>

<body>
    <noscript>Your browser does not support JavaScript!</noscript>
    <script type="text/javascript" src="{% static 'core/main_page/main-menu.js' %}"></script>

    <div class="wrapper">

        <div class="cell-list">
            {% for map in maps %}
                <div>
                    <h2 class="title-text3">{{ map.name }}</h2>
                    <p class="map-menu-text">Created on: {{ map.creation_date }}</p>
                    <p class="map-menu-text">Likes: {{ map.approval.count }}</p>
                    <a href="{% url 'core:toggle_public' map.id %}">
                        {% if map.user_is_creator %}
                            {% if map.is_public %}
                                Unpublish
                            {% else %}
                                Publish
                            {% endif %}
                        {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

</body>

</html>
